/*-- scss:defaults --*/

// Colors
$deep-blue: #849DEE;
$alice-blue: #F0F8FF;
$mets-blue: #002D72;
$periwinkle: #CCCCFF;
$light-pink: #FDEBEE;
$cream: #FDFBF7;

// Base document colors
$navbar-bg: $mets-blue; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $light-pink; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $mets-blue; // page text 
$link-color: $periwinkle; // hyperlinks 
