/*-- scss:defaults --*/

// Import font: IBM Plex Serif
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// Colors
$deep-blue: #849DEE;
$alice-blue: #F0F8FF;
$mets-blue: #002D72;
$periwinkle: #CCCCFF;
$light-pink: #FDEBEE;
$cream: #FDFBF7;

// Base document colors
$navbar-bg: $mets-blue; // navbar
$navbar-fg: $cream; // navbar foreground elements
$navbar-hl: $light-pink; // highlight color when hovering over navbar links
$body-bg: $cream; // page background 
$body-color: $mets-blue; // page text 
$link-color: $periwinkle; // hyperlinks 
